<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
        
<body>
    <!---------- HEADER ----------->
    <%- include ('./partials/header.ejs') %>


        
    <section class="container-fluid profile">
        <h1 class="display-4">Account info</h1>
        <p class="h5 col"><span class="text-uppercase">Name:</span> <%= currentUser.firstName %> <%= currentUser.lastName %></p>
        <p class="h5 col"><span class="text-uppercase">Username:</span> <%= currentUser.username %></p> 
        <p class="h5 col"><span class="text-uppercase">Email:</span> <%= currentUser.email %></p>
        <p class="h5 col"><span class="text-uppercase">Favorite Cocktail:</span> <%= currentUser.favoriteCocktail %></p>
    
    <div class="container-fluid edit-delete">
        <button class="btn btn-outline-secondary"><a href="/edit">Edit Account</a></button>
        <form action="/users/<%= currentUser._id %>?_method=DELETE" method="POST">
            <input class="btn btn-outline-danger" type="submit" value="Delete Account" />
        </form>  
    </div> 
    </section> 
    <!---------- FOOTER ----------->
    <%- include ('./partials/footer.ejs') %>

</body>
</html>