<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
<body>
    <!---------- HEADER ----------->

    <%- include ('./partials/header.ejs') %>
    <hr class="hr">
    <!-- Yup, I realize this isn't DRY whatsoever, but I fucked up in uploading my images to the database so this is what I'm stuck with -->
    <% if (products.name === 'Coupe') { %> 
        <img src="/coupe.jpeg">
    <% } else if (products.name === 'Highball') { %>
        <img src="/highball.jpeg">
    <% } else if (products.name === 'Old Fashioned') { %>
        <img src="/old-fashioned-2.jpeg">
    <% } else if (products.name === 'Tiki Mug') { %>
        <img src="/tiki-mug-2.jpeg">    
    <% } else if (products.name === 'Pineapple Barspoon') { %>
        <img src="/pineapple-barspoon-1.jpeg">    
    <% } else if (products.name === 'Bell Jigger') { %>
        <img src="/bell-jigger.jpeg">
    <% } else if (products.name === 'Yarai Mixing Glass') { %>
        <img src="/mixing-glass.jpg">
    <% } else if (products.name === 'Koriko Weighted Shaker Tins') { %>
        <img src="/boston-shaker-1.jpeg">
    <% } else if (products.name === 'Japanese Style Jigger') { %>
        <img src="/Japanese-jigger.jpeg">
    <% } else if (products.name === 'Custom Ice Stamp') { %>
        <img src="/ice-stamp-combined-2.jpg">
    <% } else if (products.name === 'Roll-up Kit') { %>
        <img src="/roll-up-kit-2.jpeg">
    <% } else if (products.name === 'Ice Ball Maker') { %>
        <img src="/ice-ball-maker.jpeg">
    <% } else if (products.name === 'Hawthorne Strainer') { %>
        <img src="/hawthorne-strainer.jpeg">
    <% } else if (products.name === 'Citrus Peeler') { %>
        <img src="/citrus-peeler.jpeg">
    <% } else if (products.name === 'Stainless Steel Juicer') { %>
        <img src="/juicer-2.jpeg">
    <% } else if (products.name === 'Champagne') { %>
        <img src="/champagne.jpg">
    <% } %>

    <div class="info">
        <h4><%= products.name %></h4>
        <h5>$<%= products.price %></h5>
    </div>
    <p>"Integer vitae libero ac risus egestas placerat"</p>
    <button class="btn btn-secondary btn-lg login"><a href="#">Add to Cart</a></button>  
    <hr class="hr">
    <!---------- FOOTER ----------->
    <%- include ('./partials/footer.ejs') %>  
</body>
</html>